<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0" width="device-width">  
    <title>Yerba Mate</title>
    <link rel="icon" href="../img/matelogo.ico">
    <link rel="stylesheet" href="../style/style.css">
    <script src="https://kit.fontawesome.com/893ca4dba1.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    
</head>

<body>
      <h2 class="header-h2">Origen del mate</h2>
  <main>
    <div class="contenedorOrigen">
        <section class="origen1">
           <p>El origen del mate se remonta a los nativos guaraníes, ellos utilizaban las hojas del árbol como bebida, objeto de culto
            y moneda de cambio con otros pueblos.</p>
            <img style="border-radius: 180px; padding:20px;" src="../img/hombre.jpg" alt="Aborigen Guarani">
           <p>Durante las largas travesías por las selvas, los conquistadores notaron que los guaraníes tenían mayor resistencia 
           luego de tomar esta bebida sagrada.</p>
           </section>
        <section class="origen2">
            <h3 class="origen-h3-titulo">Un regalo de los Dioses</h3>
               <p>Caá en lengua guaraní significa yerba, pero también significa planta y selva. Para el guaraní, el árbol de la yerba 
               mate es el árbol por excelencia, un regalo de los Dioses.
               Los conquistadores aprendieron de los guaraníes el uso y las virtudes de la Yerba Mate, e hicieron que su consumo se
                difundiera, desde su zona de origen a todo el Virreinato del Río de la Plata.
               Los nativos guaraníes fueron quizás los primeros en tomar mate. Los españoles notaron que llevaban con sus armas, una
                pequeña bolsa de cuero con hojas trituradas y tostadas.</p>
        </section>
        <section class="origen1">
           <h3 class="origen-h3-titulo">Los jesuitas y las reducciones</h3>
           <img style="border-radius: 180px; padding:20px;" src="../img/monge.jpg" alt="Jesuita">
              <p>Más tarde los jesuitas introdujeron el cultivo en las reducciones, contribuyeron con su difusión, la bebida fue conocida 
               entonces como el “té de los jesuitas”.
               Fueron los primeros en lograr hacer germinar las semillas de la yerba con un método secreto, que permitió cultivar 
               Yerba Mate para abastecer las reducciones e inclusive comercializarla en otro lugares.
               </p>
        </section>
        <section class="origen2">
            <h3 class="origen-h3-titulo">El esparcimiento en las reducciones</h3>
              <p>Los días domingos y los demás festivos, luego de asistir a la obligatoria misa y al rezo del Santo Rosario, los guaraníes podían disponer de algún tiempo para su esparcimiento: hacían malabares con sus caballos en la plaza, otros salían al campo a cazar, se realizaban campeonatos de destreza en el tiro con el arco y las flechas.
               No faltaban el mate compartido, la música, el canto y la danza, especialmente entre los niños y jóvenes.
               La costumbre del mate ha permanecido inalterada desde tiempos remotos y por cinco siglos de historia, arraigándose y extendiéndose a lugares lejanos.
              </p> 
        </section> 
    </div>
         
     
  </main>
  <footer>
    <div class="b-footer-menu"> 
      <a href="index.html">> Volver a pagina principal</a>
      <a href="origen.html">Origen</a>
      <a href="beneficios.html">Beneficios</a>
      <a href="Contacto.html">Contacto</a> 
      <a href="productos.html">Productos</a>         
    </div>
    <div class="b-footer-div">
      <img clas="footer-logo"src="../img/matelogo.jpg" alt="Yerba Mate" width="30px">    
        <p>Derecho Reservados- 2022</p>
        <p>Autora: Maria Veronica Trias</p>
        <p>Comision 22087- Profesora Marcela Cerda</p>
    </div>
    <div class="footer-icon">
      <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i> </a>
      <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram-square"></i> </a>
      <a href="https://www.twitter.com/"><i class="fa-brands fa-twitter"></i></a>
      <a href="https://www.youtube.com/"><i class="fa-brands fa-youtube"></i></a>
    </div>
   </footer>
</body>


